{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link res="stylesheet" href="{% static 'css/game.css' %}">      <!-- 加入css文件 -->
    <script src="{% static 'js/dist/game.dist' %}"></script>
</head>

<body style="margin: 0">    <!-- 边框 -->
    <div id="ac_game_12345678"></div>
    <script>
        $(document).ready(function(){
            let ac_game = acGame("ac_game_12345678");
        });
    </script>
</body>
